<h1>Voici mon site de partiel :)</h1>
<div class="panel panel-info">
    <p>
        Vous pouvez voir dans la bar de navigation les liens vers les differentes page de mon application ruby
    </p>

</div>
