<%= form_for @bug do |f| %>

    <% if @bug.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being published:
            </h2>
            <ul>
                <% @bug.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :text %><br/>
        <%= f.text_area :text %>
    </p>

    <p>
        <button><%= f.submit %></button>
    </p>
<% end %>
