<%= link_to "Nouveau bug", new_bug_path %>
<h1>Listing Bugs</h1>
<table class="table table-bordered">
    <tr>
        <th>
            Title
        </th>
        <th>
            Text
        </th>
        <th colspan="3">

        </th>
    </tr>
    <% @bugs.each do |bug| %>
        <tr>
            <td>
                <%= bug.title %>
            </td>
            <td>
                <%= bug.text %>
            </td>
            <td>
                <button class="btn btn-info"><%= link_to 'Show', bug_path(bug) %></button>
            </td>
            <td>
                <%= link_to 'Edit', edit_bug_path(bug) %>
            </td>
            <td>
                <button class="btn btn-danger"><%= link_to 'Destroy', bug_path(bug),
                    method: :delete,
                    date: { confirm: 'Are you sure?'} %></button>
            </td>
        </tr>
    <% end %>
</table>
