<p>
    <strong>Title: </strong>
    <%= @bug.title %>
</p>
<p>
    <strong>Text: </strong>
    <%= @bug.text %>
</p>
<h2>Comments</h2>
<%= render @bug.comments %>

<h2>Add a comment : </h2>
<%= render 'comments/form' %>

<button class="btn"><%= link_to "Edit", edit_bug_path(@bug) %></button>
<button class="btn"><%= link_to "Back", bugs_path %></button>
