// Place all the styles related to the bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    border: 1px solid black;
}

td, th, tr {
    padding: 10px;
}

// a {
//     text-decoration: none;
// }

button {
    border-radius: 5px;
}

h1 {
    text-decoration: underline;
}



.footer {
    bottom: 0%;
}
