// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aboutp{
    font-size: 30px;
}

.aboutlink {
    font-size: 30px;
    text-decoration: none;
}
.aboutnav{
    background-color: blue;
}

.linkli {
    background-color: white;
}

.linkback {
    font-size: 40px;
    color: green;
}
